"""The trunk-branch CI/CD pipeline"""

from aws_cdk import (
    Environment,
    Stack,
    pipelines,
    aws_ssm as ssm,
    aws_iam as iam,
    aws_s3 as s3,
    aws_kms as kms,
{% if lambda_type == 'imaged' %}
    aws_codebuild as codebuild
{% endif %}
)
from constructs import Construct
from infra.stages import Deployment

# KUBIO
# tried using ssm.StringParameter.value_from_lookup() for these 2,
# but did not work: too much value checking going on, even Lazy.string did not help
SHARED_DEPLOY_BUCKET_ARN = "arn:aws:s3:::itc-devops-artifact-383996144866-us-east-1"
KMS_KEY_ARN='arn:aws:kms:us-east-1:880328010559:key/e60b67d0-60a7-4b68-a5c3-40cd41e3de5b'
PIPELINE_ACCOUNT = '383996144866'
PIPELINE_REGION = 'us-east-1'

DEV_CONFIG = { 'NAME': 'DEV',
    'ACCOUNT': '{{first_stage_deploy_account}}',
    'REGION': 'us-east-1',
}

class TrunkPipelineStack(Stack):
    """The pipeline creation via CDK"""

    # pylint: disable=redefined-builtin
    def __init__(self, scope: Construct, id: str, **kwargs) -> None:
        super().__init__(scope, id,
            env=Environment(account=PIPELINE_ACCOUNT, region=PIPELINE_REGION), **kwargs)

        # https://docs.aws.amazon.com/cdk/v2/guide/get_ssm_value.html
        github_codestar_arn = ssm.StringParameter.value_for_string_parameter(
            self, "/Deployment/github/codestar_arn", 3)

        source = self.setup_code_source(
            repo_name="tomsitconcepts/{{project_name}}",
            repo_branch="main",
            github_codestar_arn=github_codestar_arn
        )

        synth = pipelines.ShellStep(
            "Synth",
            input=source,
            install_commands=["make warming"],
            commands=["make build"],
        )

        pipeline = pipelines.CodePipeline(
            self,
            "pipeline",
            artifact_bucket=self.get_shared_deploy_bucket(),
            cross_account_keys=True,
            synth=synth,
{% if lambda_type == 'imaged' %}
            asset_publishing_code_build_defaults=pipelines.CodeBuildOptions(
                # Set default properties here for asset publishing
                build_environment=codebuild.BuildEnvironment(
                    privileged=True,  # Enable Docker layer caching
                ),
                cache=codebuild.Cache.local(
                    codebuild.LocalCacheMode.DOCKER_LAYER
                )
            )
{% endif %}
        )

        # NOTE: change this to DEV, QA/STAGING, PROD
        deploy_stage = Deployment(self, DEV_CONFIG["NAME"], DEV_CONFIG)
        # This is a set of parallel pre-checks before allowing deployment
        pipeline.add_stage(
            deploy_stage,
            pre=[
                pipelines.CodeBuildStep(
                    "Linting",
                    install_commands=["make warming"],
                    commands=["make linting"],
                ),
                pipelines.CodeBuildStep(
                    "UnitTest",
                    install_commands=["make warming"],
                    commands=["make unittest"],
                ),
            ],
        )

        # Explicitly build the pipeline
        pipeline.build_pipeline()

        pipeline.pipeline.add_to_role_policy(
            iam.PolicyStatement(
                actions=["codestar-connections:*"],
                resources=[github_codestar_arn]
            )
        )

    def setup_code_source(
        self, repo_name, repo_branch, github_codestar_arn
        ) -> pipelines.CodePipelineSource:
        '''isolation/abstraction of source code repo'''
        source = pipelines.CodePipelineSource.connection(
            repo_name,
            repo_branch,
            connection_arn=github_codestar_arn
        )

        return source

    def get_shared_deploy_bucket(self) -> s3.IBucket:
        '''we don't want CDK to proliferate extra buckets and keys'''
        preexisting_bucket = s3.Bucket.from_bucket_attributes(self,
            "shared-bucket",
            bucket_arn=SHARED_DEPLOY_BUCKET_ARN,
            encryption_key=kms.Key.from_key_arn(self, 'BucketKey',
                key_arn=KMS_KEY_ARN)
        )
        return preexisting_bucket
